doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title Offline Epirank
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-table.min.css')
    script(src='/js/jquery-1.11.3.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/bootstrap-table.min.js')
    script(src='/js/epirank.js')
  body
    table